html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
}
.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}




.table tbody td{
    
    vertical-align: middle;
}
.btn-decre,.btn-incre{
    box-shadow: none;
    font-size: 15px;
    z-index: 10;
}
.form_td{
    width:300px;
}
.form-inline{
    width:200px;
}



footer a{
    color: white;
}

footer{
    background-color:rgb(34, 34, 34);
    color:#fff;
    overflow: hidden;
    margin-top: -50px;
    bottom: 0;
    
}
.footer_info{
    width:80%;
    margin: 0 auto;
    display:flex;
    padding:50px 0;
}

.footer_info .footer_width{
    padding:0 15px;
}
.footer_info h2{
    margin-bottom: 20px;
}
.about, .Contact{
    width:40%;
}
.link{
    width:20%;
}
.link ul li {
    margin-bottom: 15px;
    font-size: 18px;
}
.link ul li a:hover{
    color:#8ECEE5;
}
.Contact ul li{
    display:flex;
    align-items: center;
    margin-bottom: 15px;
}
.Contact ul li span{
    margin-right: 15px;
}

@media screen and (max-width:992px){
    .about, .Contact{
        width:35%;
    }
    .link{
        width:30%;
    }
}
@media screen and (max-width:767px){
    .about, .Contact, .link{
        width:100%;
        margin-bottom: 30px;
    }
    .footer_info{
        flex-direction: column;
    }
}
