<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>hr.algebra.listeners.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.QuantityIncDecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGameServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.EditGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGameServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.DeleteGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGameServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.AddGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.CartCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoriesServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.FilterCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNowServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.OrderNowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <url-pattern>/quantity-inc-dec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/remove-from-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGameServlet</servlet-name>
        <url-pattern>/edit-game-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGameServlet</servlet-name>
        <url-pattern>/deletegame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGameServlet</servlet-name>
        <url-pattern>/add-game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/edit-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/add-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <url-pattern>/cart-checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoriesServlet</servlet-name>
        <url-pattern>/filter-categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/cancel-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNowServlet</servlet-name>
        <url-pattern>/order-now</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
